@charset "UTF-8";

* {
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header, .its-content {
    align-items: center;
    display: flex;
}

/*CONFIGURAÇOES DO HEADER*/
header {
    background-color: #003366;
    padding: 10px 50px;
    justify-content: space-between;
}
@media (min-width: 822px) {
    header{
        gap: 100px;
    }
}
@media (min-width: 1060px) {
    header{
        gap: 200px;
    }
}

/*==== LOGO ====*/
div.logo {
    font-size: 30pt;
    font-weight: bold;
}

div.logo a.logo-item {
    color: #ff6600;
}  

/*==== NAV ====*/
.content-itm {
    align-items: center;
    display: flex;
}

.its-content {
    background-color: #00060ec4;
    display: none;
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    z-index: 1000;
    transition: all 0.5s;
} 
@media (min-width: 822px) {
    .its-content {
        background-color: transparent;
        display: flex;
        position: relative;
        top: 0; bottom: 0;
    }
}

.mist {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;

    width: max-content;
    margin: 100px auto;
    padding: 20px;
}
@media (min-width: 822px) {
    .mist{
        background-color: transparent;
        border-radius: 0px;
        display: flex; 
        flex-direction: row;
        gap: 0;
        align-items: center;
        margin: 0px 0px;
        padding: 0px;
    }
}

.itm-li-int {
    align-items: center;
    display: flex;
    flex-direction: column;
} 
@media (min-width: 822px) {
    .itm-li-int{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.inter-menu{
    display: block;
    z-index: 10000;
}
@media (min-width: 822px) {
    .inter-menu{
        display: none;
    }
}

.int-cnt a {
    color: #00122a;
    background: #00336617;
    border-radius: 0px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15), 1px 1px 5px 1px rgba(0, 0, 0, 0.068);
    display: block;

    text-align: left;
    font-size: 17pt;
    font-weight: bold;

    width: 300px;
    margin: 5px;
    margin-left: 0px;
    padding: 5px 10px;
    transition: all ease-in 0.7s;
}
.int-cnt a:hover {
    background-color: #afafaf;
    border-radius: 20px;
    color: #001e45;
    transition: all 0.2s;
}
@media (min-width: 822px) {
    .int-cnt a{
    color: #fff;
    background: transparent;
    font-weight: bold;
    font-size: 11pt;
    text-align: center; 
    display: block;
    width: 85px;
    padding: 5px 10px;
    margin: 20px;
    margin-left: 0px;
    }
}

/*==== BOTTÕES DE */
.menu-btn {
    outline: none;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 13pt;
}

#hidden {
    display: none;
}

/*Conf. Registro*/
#esp-itm {
    display: block;
}
@media (min-width: 822px) {
    #esp-itm{
        display: none;
    }
}

#esp-itm a {
    color: #003366;
    background-color: #ff6600;
    border-radius: 20px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    padding: 5px 10px;
    width: 100px;
}

@media (min-width: 980px) {
    #esp-itm{
        display: block;
    }
}

#esp-itm a:hover {
    color: #ff6600;
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(31, 31, 31, 0.5), 0 6px 20px 0 rgba(24, 24, 24, 0.319);
    transition: 0.5s;
}


/*==== MAIN ====
  ==============*/
main {
    width: 100%;
    height: 550px;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
    width: 5px;
    height: 8px;
    background-color: #c8c8c8;   
}



.cnt-frt-st {
    background-color: #004080;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    line-height: 31pt;
}
.cnt-frt-st {
    background-image: url("../img/welt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    margin: 0 0;
    gap: 0;
}
@media (min-width: 1060px) {
    .cnt-frt-st{
        background-color: #004080;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 50px 100px 50px 150px;
        line-height: 33pt;
    } 

    .cnt-frt-st {
        background-image: url("../img/welt.jg");
        background-repeat: no-repeat;
        background-size: cover;
        height: max-content;
        margin: 0 0;
        gap: 0;
    }
}

.container_1 {
    background-color: #004080e7;
    /*background-color: #003366e8;*/
    padding: 60px 100px 80px 50px;
}
@media (min-width: 1060px) {
    .container_1{
        background-color: transparent;
        padding: 0px 0px 0px 0px;
    }   
}

.cnt-frt-st div.cnt-wlm div.container_1 p {
    color: #dbe4ff;
    font-size: 30pt;
    font-weight: bold;
}
@media (min-width: 1060px) {
    .cnt-frt-st div.cnt-wlm div.container_1 p {
        color: #dbe4ff;
        font-size: 25pt;
        font-weight: bold;
    }
}

.btn-cnt {
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-itm {
    color: #fff;
    font-size: 16pt;
    font-weight: bold;
    background-color: #ff6600;
    border-radius: 20px;
    display: block;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 5px 20px;
}
@media (min-width: 1060px) {
    .btn-itm{
        margin-top: 30px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

.btn-itm:hover {
    color: #003366;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.wlm-img {
    display: none;
}

.wlm-img img {
    width: 520px;
    height: 300px;
}
@media (min-width: 1060px) {
    .wlm-img{
        display: block;
    }
}
