@charset "UTF-8";

* {
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header, .its-content {
    align-items: center;
    display: flex;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
}

/*CONFIGURAÇOES DO HEADER*/
header {
    background-color: #003366;
    padding: 10px 50px;
    justify-content: space-between;
}
@media (min-width: 822px) {
    header{
        gap: 100px;
    }
}
@media (min-width: 1060px) {
    header{
        gap: 200px;
    }
}

/*==== LOGO ====*/
div.logo {
    font-size: 30pt;
    font-weight: bold;
}

div.logo a.logo-item {
    color: #ff6600;
}  

/*==== NAV ====*/
.content-itm {
    align-items: center;
    display: flex;
}

.its-content {
    background-color: #00060ec4;
    display: none;
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    z-index: 1000;
    transition: all 0.5s;
} 
@media (min-width: 822px) {
    .its-content {
        background-color: transparent;
        display: flex;
        position: relative;
        top: 0; bottom: 0;
    }
}

.mist {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;

    width: max-content;
    margin: 100px auto;
    padding: 20px;
}
@media (min-width: 822px) {
    .mist{
        background-color: transparent;
        border-radius: 0px;
        display: flex; 
        flex-direction: row;
        gap: 0;
        align-items: center;
        margin: 0px 0px;
        padding: 0px;
    }
}

.itm-li-int {
    align-items: center;
    display: flex;
    flex-direction: column;
} 
@media (min-width: 822px) {
    .itm-li-int{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.inter-menu{
    display: block;
    z-index: 10000;
}
@media (min-width: 822px) {
    .inter-menu{
        display: none;
    }
}

.int-cnt a {
    color: #00122a;
    background: #00336617;
    border-radius: 0px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15), 1px 1px 5px 1px rgba(0, 0, 0, 0.068);
    display: block;

    text-align: left;
    font-size: 17pt;
    font-weight: bold;

    width: 300px;
    margin: 5px;
    margin-left: 0px;
    padding: 5px 10px;
    transition: all ease-in 0.7s;
}
.int-cnt a:hover {
    background-color: #afafaf;
    border-radius: 20px;
    color: #001e45;
    transition: all 0.2s;
}
@media (min-width: 822px) {
    .int-cnt a{
    color: #fff;
    background: transparent;
    font-weight: bold;
    font-size: 11pt;
    text-align: center; 
    display: block;
    width: 85px;
    padding: 5px 10px;
    margin: 20px;
    margin-left: 0px;
    }
}

/*==== BOTTÕES DE */
.menu-btn {
    background-color: #fff;
    outline: none;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 13pt;
}

#hidden {
    display: none;
}

/*Conf. Registro*/
#esp-itm {
    display: block;
}
@media (min-width: 822px) {
    #esp-itm{
        display: none;
    }
}

#esp-itm a {
    color: #003366;
    background-color: #ff6600;
    border-radius: 20px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    padding: 5px 10px;
    width: 100px;
}

@media (min-width: 980px) {
    #esp-itm{
        display: block;
    }
}

#esp-itm a:hover {
    color: #ff6600;
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(31, 31, 31, 0.5), 0 6px 20px 0 rgba(24, 24, 24, 0.319);
    transition: 0.5s;
}


/*==== MAIN ====
  ==============*/
main {
    width: 100%;
    height: 612px;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    display: none;
    width: 5px;
    height: 8px;
    background-color: #c8c8c8;   
}



.cnt-frt-st {
    background-color: #004080;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    line-height: 31pt;
}
.cnt-frt-st {
    background-image: url("../img/welt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    margin: 0 0;
    gap: 0;
}
@media (min-width: 1060px) {
    .cnt-frt-st{
        background-color: #004080;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 50px 100px 50px 150px;
        line-height: 33pt;
    } 

    .cnt-frt-st {
        background-image: url("../img/welt.jg");
        background-repeat: no-repeat;
        background-size: cover;
        height: max-content;
        margin: 0 0;
        gap: 0;
    }
}

.container_1 {
    background-color: #004080e7;
    /*background-color: #003366e8;*/
    padding: 60px 0px 80px 40px;
}
@media (min-width: 1060px) {
    .container_1{
        background-color: transparent;
        padding: 0px 0px 0px 0px;
    }   
}

.cnt-frt-st div.cnt-wlm div.container_1 p {
    color: #dbe4ff;
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase;
}
@media (min-width: 1060px) {
    .cnt-frt-st div.cnt-wlm div.container_1 p {
        color: #dbe4ff;
        font-size: 25pt;
        font-weight: bold;
    }
}

.btn-cnt {
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-itm {
    color: #fff;
    font-size: 16pt;
    font-weight: bold;
    background-color: #ff6600;
    border-radius: 20px;
    display: block;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 5px 20px;
}
@media (min-width: 1060px) {
    .btn-itm{
        margin-top: 30px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

.btn-itm:hover {
    color: #003366;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.wlm-img {
    display: none;
}

.wlm-img img {
    width: 520px;
    height: 300px;
}
@media (min-width: 1060px) {
    .wlm-img{
        display: block;
    }
}

.cot-itm-ch {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px auto 0px auto;
    padding: 40px 40px;
}
@media (min-width: 700px) { 
    .cot-itm-ch {
        /*display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;*/
        margin: 100px auto 0px auto;
        width: 70%;
        display: grid;
        grid-template-areas: 
        'left center'
        'right right'
        'end end '
        ;
    } 

    .lg_bck_1{
        width: 100%;
        grid-area: left;
    }
    .lg_bck_2{
        width: 100%;
        grid-area: center;
    }
    .lg_bck_3{
        width: 100%;
        grid-area: right;
    }
    .lg_bck_4{
        width: 100%;
        grid-area: end;
    }
}
@media (min-width: 1300px) {
    .cot-itm-ch {
        /*display: flex;
        flex-direction: row;
        justify-content: space-between;*/
        width: 90%;
        margin: 100px auto 0px auto;
        display: grid;
        grid-template-areas: 
        'left center right end'
        ;
    } 

    .lg_bck_1{
        grid-area: left;
    }
    .lg_bck_2{
        grid-area: center;
    }
    .lg_bck_3{
        grid-area: right;
    }
    .lg_bck_4{
        grid-area: end;
    }
}

.lg-bck {
    background-color: #ff6600;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 24px;

    width: 280px;
    height: 350px;
    padding: 20px;
    margin-top: 50px;
}
@media (min-width: 700px) {
    .lg-bck {
        background-color: #ff6600;
        border-radius: 20px;
        width: 245px;
        height: 330px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 24px;
        margin-top: 20px;
    }   
}
@media (min-width: 1300px) {
    .lg-bck{
        margin-top: 0px;
    }
}

.container_2 h2 {
    font-size: 20pt;
    color: #003366;
    margin-bottom: 2px;
}

.container_2 p {
    color: #333;
    margin-top: 0px;
}

.itm-lnk-aa a img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    opacity: 0.95;
}

.itm-lnk-aa a img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 110%;
    margin-left: -12px;
    opacity: 1;
}

.prt-mm {
    border: none;
    outline: none;
    background-color: transparent;
}

.prt-mm a.btn-mm {
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    color: #fff;
    font-size: 14pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border: 0.1px solid #003366;
    padding: 3px;
    gap: 30px;
}

.prt-mm a.btn-mm:hover {
    color: #003366;
    background-color: #fff;
    border: 0.1px solid rgb(87, 87, 87);
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

/*
===================
===================
== Anime Galeria ==
*/
.expert {
    background-color: aqua;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.cnt-exp{
    position: relative;
    padding: 50px 100px;
    z-index: 1000;
}

.cnt-exp p {
    color: #002c59;
    text-transform: lowercase;
    font-size: 18pt;
    font-weight: 500;
    margin-top: 15px;
}

.canvi-color{
    animation: myAnim00 3s linear 3s infinite alternate;
    background-color: #003366;
    position: absolute;
    border-radius: 1000px 0px 0px 0px;

    width: 300px;
    height: 5%;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.canvi-color-1{
    animation: myAnim01 5s linear 3s infinite alternate;
    background-color: #ff6600;
    position: absolute;
    border-radius: 0px 0px 1000px 0px;

    width: 300px;
    height: 10%;
    left: 0;
    top: 0;
    z-index: 10;
}

@keyframes myAnim00 {
    from{
        background-color: #002c59;
        right: 0;
    }
    to{
        background-color: #ff6600;
        right: 0px;
    }
}

@keyframes myAnim01 {
    from{
        background-color: #ff6600;
        right: 0;
    }
    to{
        background-color: #002c59;
        right: 0px;
    }
}


.loo-pt {
    background-color: #002c59;
    box-shadow: 1px 1px 100px 300px #002c59;
    margin-top: 150px;
}

.itm-lop {
    padding: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: none;
}


@media (min-width: 700px) {
    .itm-lop {
        padding: 10px 100px 10px 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        line-height: 28pt;
    }
}

.sec-lp-fr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d8;
}
@media (min-width: 700px) {
    .sec-lp-fr{
        position: absolute;
        padding: 20px;
        right: 15%;
        bottom: 0;
        background-color: #ffffffda;
        border-radius: 20px;
        width: 400px;
        height: max-content;
    } 
}
@media (min-width: 1100px) {
    .sec-lp-fr{
        position: relative;
        padding: 0px;
        right: 0;
        border-radius: 0px;
        background-color: transparent;
    }
}

.lp-fr img {
    width: 280px;
    height: 350px;
    border-radius: 0px;
}
@media (min-width: 700px) {
    .lp-fr img {
        width: 550px;
        height: 350px;
        border-radius: 20px;
    }   
}

.sqten {
    font-weight: normal;
    color: #fff;
    font-size: 22pt;
    text-transform: uppercase;
    padding: 0px;
}
@media (min-width: 700px) {
    .sqten{
        font-weight: bold;
        color: rgb(0, 48, 111);
        font-size: 20pt;
    }
}
@media (min-width: 1100px) {
    .sqten{
        font-weight: normal;
        color: #fff;
        font-size: 22pt;
    }
}

.sqtern {
    font-family: cursive;
    display: block;
    margin-left: 20px;
    color: #ff7300;
    font-size: 17pt;
    text-transform: lowercase;
}
@media (min-width: 700px) {
    .sqtern{
        color: #ff7300;
        font-weight: bold;
    }
}
@media (min-width) {
    .sqtern{
        font-weight: normal;
    }
}

.uslg {
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
}

.btn-lop {
    color: #002c59;
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15pt;

    display: block;
    padding: 7px 20px;
    margin-top: 20px;
}

.btn-lop:hover{
    color: #fff;
    background-color: #002c59;
    transition: all 0.5s;
}

@media (min-width: 700px) {
    .btn-lop {
        color: #002c59;
        background-color: #ff6a00;
        border-radius: 20px;
        font-weight: bold;
        font-size: 15pt;
    
        display: block;
        padding: 7px 20px;
        margin-top: 20px;
    }
}
@media (min-width: 1100px) {
    .btn-lop{
        background-color: #fff;
    }
    .btn-lop:hover{
        color: #002c59;
        background-color: #ff7300;
    }
}


.itm-lop-tw{
    background-color: #fff;
    width: 100%;
    height: 300px;
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.itm-lop-tw p.lp-itm-on{
    color: #003366;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    text-transform: lowercase;
}

.itm-lop-tw p.lp-itm-tw{
    text-transform: uppercase;
    color: #0080ff;
    text-align: center;
    font-size: 17pt;
    padding-bottom: 20px;

    border-bottom: 1px solid orangered;
}

.btn-lp-ow{
    background-color: orangered;
    color: #fff;
    font-size: 15pt;
    padding: 7px 20px;
    border-radius: 20px;
}