
.itm-lop-tw{
    background-color: #fff;
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.itm-lop-tw p.lp-itm-on{
    color: #003366;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    text-transform: lowercase;
}

.itm-lop-tw p.lp-itm-tw{
    text-transform: uppercase;
    color: #0080ff;
    text-align: center;
    font-size: 17pt;
    padding-bottom: 20px;

    border-bottom: 1px solid orangered;
}

.btn-lp-ow{
    background-color: orangered;
    color: #fff;
    font-size: 15pt;
    padding: 7px 20px;
    border-radius: 20px;
}