@charset "UTF-8";
/*Configurações das globais*/
* {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Configurações das variaveis das cores*/
/*Configurações do header*/

header, .its-content, .itm-li-int {
    align-items: center;
    display: flex;
}

header {
  background-color: #003366;
  width: 100%;
  padding: 10px 60px;
}

/*Definições do logo*/
div.logo {
    font-size: 30pt;
    font-weight: bold;
}

div.logo a.logo-item {
    color: #ff6600;
}   


/*Hamburguer menu*/
.btn-hamb, .btn-hamb-1{
    display: none;
}
@media (max-width: 680px) {
.btn-hamb {
    background-color: transparent;
    border: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 8%;
    top: 4%;
    z-index: 1000;
}


.btn-hamb::after,
.btn-hamb::before {
    background-color: white;
    content: " ";
    display: block;
    height: 4px;
    width: 30px;
    margin-top: 4px;
}

.btn-hamb {
    background-color: transparent;
    border: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 4%;
    z-index: 1000;
}
}


@media (max-width: 680px) {
.btn-hamb-1 {
    background-color: transparent;
    border: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 8%;
    top: 4%;
    z-index: 1000;
}

.btn-hamb-1 {
    background-color: transparent;
    border: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 4%;
    z-index: 1000;
}

.btn-hamb-1::after,
.btn-hamb-1::before {
    background-color: rgb(116, 10, 10);
    content: " ";
    display: block;
    height: 4px;
    width: 30px;
    margin-top: 4px;
}

}

/*Configuracoes da nav*/

@media (max-width: 680px) {
    .content-itm{
        background: #cecece4f;
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.its-content {
    align-items: center;
    display: flex;
    gap: 10px;
}
@media (max-width: 680px) {
    .its-content{
        display: flex;
        flex-direction: column;
    }
}

.int-cnt a {
    color: #fff;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.096);
    font-weight: bold;
    font-size: 11pt;
    text-align: center; 
    display: block;
    width: 85px;
    margin-left: 20px;
    padding: 5px 10px;
}

.int-cnt a:hover {
    color: #333;
    background-color: #fff;
    box-shadow: none;
    transition: 0.5s;
}


/*Conf. Registro*/
#esp-itm a {
    color: #003366;
    display: block;
    background-color: #ff6600;
    border-radius: 20px;
    font-size: 16pt;
    font-weight: bold;
    padding: 5px 10px;
    width: 100px;
}
@media (max-width: 680px){
    #esp-itm{
        display: block;
    }
}
@media (max-width: 1080px) {
    #esp-itm{
        display: none;
    }
}

#esp-itm a:hover {
    color: #ff6600;
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(31, 31, 31, 0.5), 0 6px 20px 0 rgba(24, 24, 24, 0.319);
    transition: 0.5s;
}



/*Configuracoes do main*/
main {
    width: 100%;
    height: 612px;
    overflow-y: scroll;
}