@charset "UTF-8";
/*Configurações das globais*/
* {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Configurações das variaveis das cores*/
/*Configurações do header*/

header, .its-content, .itm-li-int {
    align-items: center;
    display: flex;
}

header {
  background-color: #003366;
  width: 100%;
  padding: 10px 60px;
}

/*Definições do logo*/
.its-content{
    display: none;
} 
@media (min-width: 680px) {
    .its-content {
        display: none;
    }
}

/*Configuracoes da nav*/

@media (max-width: 680px) {
    .content-itm{
        background: #0000004f;
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.its-content {
    align-items: center;
    display: flex;
    gap: 10px;
}
@media (max-width: 680px) {
    .its-content{
        flex-direction: column;
        background-color: #fff;
        border-radius: 20px;
        width: 400px;
        height: max-content;
        margin: 100px auto;
        padding: 50px 5px;

        display: flex;
        align-items: left;
        justify-content: left;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (min-width: 680px) {
    .itm-li-int{
        align-items: start;
        display: block;
    }
}
.int-cnt a {
    color: #fff;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.096);
    font-weight: bold;
    font-size: 11pt;
    text-align: center; 
    display: block;
    width: 85px;
    margin-left: 20px;
    padding: 5px 10px;
}
@media (min-width: 680px) {
    .int-cnt a{
        background: #00336605;
        border-radius: 0px;
        text-align: left;
        color: #333;
        font-size: 17pt;
        width: 300px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15), 1px 1px 5px 1px rgba(0, 0, 0, 0.068);
        margin: 20px;
        margin-left: 0;
    }
}

.int-cnt a:hover {
    color: #333;
    background-color: #fff;
    box-shadow: none;
    transition: 0.5s;
}






/*Configuracoes do main*/
main {
    width: 100%;
    height: 612px;
    overflow-y: scroll;
}

.cnt-frt-st {
    background-color: #003366;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 100px 110px;
}
@media (min-width: 680px) {
    .cnt-frt-st{
        background-image: url("../img/welt.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 0px 10px 0px;
        width: 100%;
        height: max-content;
        margin: 0 0;
        gap: 0;
    }
}
@media (min-width: 1150px) {
    .cnt-frt-st{
        background-image: url("../img/welt.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 0px 10px 0px;
        width: 100%;
        height: max-content;
        margin: 0 0;
        gap: 0;
    }
}

.cnt-wlm {
    line-height: 45px;
}


@media (min-width: 1150px) {
    .container_1{
        background-color: #003366e8;
        padding: 10px 40px;
    }
    .cnt-frt-st div.cnt-wlm div.container_1 p {
        color: #e5f2ff;
        font-size: 25pt;
        font-weight: bold;
    }
}





main div#bst-cnt-itm div.cnt-frt-st div.wlm-img img {
    width: 550px;
}
@media (max-width: 680px) {
    .wlm-img img{
        display: none;
    }
}
@media (max-width: 1150px) {
    .wlm-img img{
        display: none;
    }
}